---
import Layout from "../layouts/Layout.astro";
import Calendly from "../components/Calendly.astro";
import FAQ from "../components/FAQ.astro";
import { Image } from "astro:assets";
import { vector } from "../assets";
const metaData = {
    title: "FAQ | Sunbird Speech Therapy",
    description:
        "We'll walk you through step-by-step on how we help you lower your out-of-pocket costs to do your energy efficieny upgrades.",
};
---

<Layout title={metaData.title} metaDescription={metaData.description}>
    <section class="bg-[--secondary]">
        <div class="max-container py-12 max-xl:px-6">
          <div class="justify-between flex-col">
            <div class="flex max-md:justify-center">
                <Image src={vector} alt="vector" class="py-6 max-md:p-4" />
              </div>
            <h2 class="max-md:text-4xl max-md:text-center max-md:w-full text-[--primary-text] py-6 max-md:py-4">Common Questions</h2>
            
          </div>
          <div class="m-8">
            <FAQ />
          </div>
        </div>
      </section>

        <section>
            <Calendly />
        </section>
    </div>
</Layout>
