---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Sunbird Speech Therapy">
	<h1>Sunbird Speech Therapy</h1>
</Layout>

<style>
    * {
        /* border: 1px solid red; */
    }

    .material-symbols-outlined {
        font-variation-settings:
            "FILL" 0,
            "wght" 400,
            "GRAD" 0,
            "opsz" 24;
    }
</style>