---
import { Image } from "astro:assets";
import calendly from "../assets/images/calendly.png";
---


<section class="py-12">
    <div
      class="max-container py-16 flex justify-center bg-[--primary] rounded-2xl max-md:px-4 max-md:rounded-none"
    >
      <Image src={calendly} alt="calendly_img" />
    </div>
  </section>