
<section class="bg-[--secondary]">
  <!-- Carousel -->

  <div
    id="indicators-carousel"
    class="relative w-full lg:h-56 h-56"
    data-carousel="static"
    data-bs-touch="true"
  >
    <!-- Carousel wrapper -->
    <div class="relative overflow-hidden h-full rounded-lg">
      <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
        <div class="bg-white h-full flex items-center justify-center">
          <div
            class="text-center px-24 max-sm:p-6 max-lg:p-2"
          >
            <h6 class="p-12 max-sm:py-4">
              “Our son was diagnosed with bilateral moderate sensorineural
              hearing loss as a newborn. We were in the middle of a pandemic and
              feeling overwhelmed about raising a baby in quarantine, let alone
              all the services our new baby would require.” <br>~DS</br>
            </h6>
          </div>
        </div>
      </div>

      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="bg-white h-full flex items-center justify-center">
          <div
            class="text-center px-24 max-sm:p-6 max-lg:p-2"
          >
            <h6 class="p-12 max-sm:py-4">
              “Rana is a creative and caring speech therapist. She worked for
              two years with my toddler aged daughter creating activities that
              engaged my child to help her develop her speech pronunciation...
               <br>~KT</br>
            </h6>
          </div>
        </div>
      </div>

      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="bg-white h-full flex items-center justify-center">
          <div
            class="text-center px-24 max-sm:p-6 max-lg:p-2"
          >
          <h6 class="p-12 max-sm:py-4">
              "My daughter began working with Rana at 6 months old after being
              diagnosed with unilateral sensorineural hearing loss. Rana's calm
              and kind demeanor immediately put my daughter at ease. <br>~MH</br>
            </h6>
          </div>
        </div>
      </div>
    </div>

    <!-- Slider indicators -->
    <div
      class="absolute flex -translate-x-1/2 translate-y-14 space-x-0 rtl:space-x-reverse bottom-5 left-1/2 bg-[--secondary-accent]"
    >
      <button
        type="button"
        class="w-14 h-2 max-md:w-8"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="0"></button>
      <button
        type="button"
        class="w-14 h-2 max-md:w-8"
        aria-current="false"
        aria-label="Slide 2"
        data-carousel-slide-to="1"></button>
      <button
        type="button"
        class="w-14 h-2 max-md:w-8"
        aria-current="false"
        aria-label="Slide 3"
        data-carousel-slide-to="2"></button>
    </div>

    <!-- Slider controls -->
    <button
      type="button"
      class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none max-md:hidden"
      data-carousel-prev
      data-bs-target="#indicators-carousel"
      data-bs-slide="prev"
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400 dark:bg-gray-800/30 group-hover:bg-gray-900/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <svg
          class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"></path>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button
      type="button"
      class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none max-md:hidden"
      data-carousel-next
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400 dark:bg-gray-800/30 group-hover:bg-gray-900/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <svg
          class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"></path>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </section>

    <script>
      import { Carousel } from "flowbite";
      import type {
        CarouselItem,
        CarouselOptions,
        CarouselInterface,
      } from "flowbite";
      import type { InstanceOptions } from "flowbite";

      const carouselElement = document.getElementById("carousel-example");

      const items: CarouselItem[] = [
        {
          position: 0,
          el: document.getElementById("carousel-item-1") as HTMLElement,
        },
        {
          position: 1,
          el: document.getElementById("carousel-item-2") as HTMLElement,
        },
        {
          position: 2,
          el: document.getElementById("carousel-item-3") as HTMLElement,
        },
        {
          position: 3,
          el: document.getElementById("carousel-item-4") as HTMLElement,
        },
      ];

      // object options with default values
      const options: CarouselOptions = {
        defaultPosition: 1,
        interval: 3000,

        indicators: {
          activeClasses: "bg-white dark:bg-gray-800",
          inactiveClasses:
            "bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800",
          items: [
            {
              position: 0,
              el: document.getElementById(
                "carousel-indicator-1"
              ) as HTMLElement,
            },
            {
              position: 1,
              el: document.getElementById(
                "carousel-indicator-2"
              ) as HTMLElement,
            },
            {
              position: 2,
              el: document.getElementById(
                "carousel-indicator-3"
              ) as HTMLElement,
            },
            {
              position: 3,
              el: document.getElementById(
                "carousel-indicator-4"
              ) as HTMLElement,
            },
          ],
        },

        // callback functions
        onNext: () => {
          console.log("next slider item is shown");
        },
        onPrev: () => {
          console.log("previous slider item is shown");
        },
        onChange: () => {
          console.log("new slider item has been shown");
        },
      };

      // instance options object
      const instanceOptions: InstanceOptions = {
        id: "carousel-example",
        override: true,
      };

      const carousel: CarouselInterface = new Carousel(
        carouselElement,
        items,
        options,
        instanceOptions
      );

      carousel.cycle();

      // set event listeners for prev and next buttons
      const $prevButton = document.getElementById(
        "data-carousel-prev"
      ) as HTMLElement;
      const $nextButton = document.getElementById(
        "data-carousel-next"
      ) as HTMLElement;

      $prevButton.addEventListener("click", () => {
        carousel.prev();
      });

      $nextButton.addEventListener("click", () => {
        carousel.next();
      });
</script>

<style>
  * {
    /* border: 1px solid red; */
  }
</style>
