---
import { Accordion } from "flowbite";
---

<div id="accordion-open" data-accordion="open" class="mt-4">
  <!-- Question 1 -->

  <h4 id="accordion-open-heading-3" class="mt-4">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border rounded-lg border-gray-200 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-open-body-3"
      aria-expanded="false"
      aria-controls="accordion-open-body-3"
    >
      <span class="flex w-full items-center max-md:justify-center">
        Why choose Sunbird Speech Therapy?</span
      >
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h4>

  <div
    id="accordion-open-body-3"
    class="hidden"
    aria-labelledby="accordion-open-heading-3"
  >
    <div
      class="p-5 border border-t-0 border-gray-200 dark:border-gray-700 bg-white"
    >
      <ul class="ps-5 text-gray-500 list-disc dark:text-gray-400"></ul>
      <li class="mb-2 text-gray-500 dark:text-gray-400 text-2xl">
        Experience high-quality services in your child’s natural environment.
      </li>
      <li class="mb-2 text-gray-500 dark:text-gray-400 text-2xl">
        Accelerate your child’s progress through a collaborative approach.
      </li>
      <li class="mb-2 text-gray-500 dark:text-gray-400 text-2xl">
        Receive compassionate and knowledgeable care from a dedicated provider.
      </li>
    </div>
  </div>

  <!-- Question 2 -->

  <h4 id="accordion-open-heading-5" class="mt-4">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border rounded-lg border-gray-200 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-open-body-5"
      aria-expanded="false"
      aria-controls="accordion-open-body-5"
    >
      <span class="flex w-full items-center max-md:justify-center"
        >How are services delivered?</span
      >
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h4>
  <div
    id="accordion-open-body-5"
    class="hidden"
    aria-labelledby="accordion-open-heading-5"
  >
    <div
      class="p-5 border border-t-0 border-gray-200 dark:border-gray-700 bg-white"
    >
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        <b>Teletherapy: </b>Available online throughout California.
      </p>
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        <b>In-Home Services: </b>Available in Palo Alto, Mountain View, Menlo
        Park, Los Altos, Atherton, Redwood City, San Carlos, Belmont, and San
        Mateo.
      </p>
      <p>
        <i class="text-lg text-gray-500 dark:text-gray-400"
          ><b>Note: </b>If your city is not included, please schedule a free
          consultation to see if you’re within our service area. Services may
          also be provided at a mutually convenient location.
        </i>
      </p>
    </div>
  </div>

  <!-- Question 3 -->

  <h4 id="accordion-open-heading-1" class="mt-4">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border rounded-lg border-gray-200 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-open-body-1"
      aria-expanded="false"
      aria-controls="accordion-open-body-1"
    >
      <span class="flex w-full items-center max-md:justify-center">
        What are your rates?</span
      >
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h4>
  <div
    id="accordion-open-body-1"
    class="hidden"
    aria-labelledby="accordion-open-heading-1"
  >
    <div
      class="p-5 border border-t-0 border-gray-200 dark:border-gray-700 bg-white"
    >
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        <b>Initial Evaluation: </b>$350
      </p>
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        <b>Individual Theraphy Sessions: </b>$400
      </p>
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        <b>Therapy Packages: </b>$1,100
      </p>
    </div>
  </div>

  <!-- Question 4 -->

  <h4 id="accordion-open-heading-8" class="mt-4">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border rounded-lg border-gray-200 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-open-body-8"
      aria-expanded="false"
      aria-controls="accordion-open-body-8"
    >
      <span class="flex w-full items-center max-md:justify-center"
        >How do I get started?</span
      >
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h4>
  <div
    id="accordion-open-body-8"
    class="hidden"
    aria-labelledby="accordion-open-heading-8"
  >
    <div
      class="p-5 border border-t-0 border-gray-200 dark:border-gray-700 bg-white"
    >
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        You can schedule your free 15-minute consultation directly on our
        website or fill out the contact form. We’re excited to connect with you!
      </p>
    </div>
  </div>

  <!-- Question 5 -->

  <h4 id="accordion-open-heading-4" class="mt-4">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border rounded-lg border-gray-200 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-open-body-4"
      aria-expanded="false"
      aria-controls="accordion-open-body-4"
    >
      <span class="flex w-full items-center max-md:justify-center">
        How long are therapy sessions?</span
      >
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h4>
  <div
    id="accordion-open-body-4"
    class="hidden"
    aria-labelledby="accordion-open-heading-4"
  >
    <div
      class="p-5 border border-t-0 border-gray-200 dark:border-gray-700 bg-white"
    >
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        Therapy sessions are 60 minutes.
      </p>
    </div>
  </div>

  <!-- Question 6 -->

  <h4 id="accordion-open-heading-2" class="mt-4">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border rounded-lg border-gray-200 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-open-body-2"
      aria-expanded="false"
      aria-controls="accordion-open-body-2"
    >
      <span class="flex w-full items-center max-md:justify-center"
        >Do you accept insurance?</span
      >
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h4>
  <div
    id="accordion-open-body-2"
    class="hidden"
    aria-labelledby="accordion-open-heading-2"
  >
    <div
      class="p-5 border border-t-0 border-gray-200 dark:border-gray-700 bg-white"
    >
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        At this time, Sunbird Speech Therapy does not accept insurance.
      </p>
    </div>
  </div>

  <!-- Question 7 -->

  <h4 id="accordion-open-heading-6" class="mt-4">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border rounded-lg border-gray-200 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-open-body-6"
      aria-expanded="false"
      aria-controls="accordion-open-body-6"
    >
      <span class="flex w-full items-center max-md:justify-center md:text-left"
        >If my child has had an external speech and language evaluation within
        the past 6 months, is the initial evaluation with Sunbird Speech Therapy
        necessary?</span
      >
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h4>
  <div
    id="accordion-open-body-6"
    class="hidden"
    aria-labelledby="accordion-open-heading-6"
  >
    <div
      class="p-5 border border-t-0 border-gray-200 dark:border-gray-700 bg-white"
    >
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        External evaluations within 6 months will be reviewed to determine if an
        initial evaluation is necessary. Otherwise, therapy sessions can be
        initiated directly.
      </p>
    </div>
  </div>

  <!-- Question 7 -->

  <h4 id="accordion-open-heading-7" class="mt-4">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border rounded-lg border-gray-200 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-open-body-7"
      aria-expanded="false"
      aria-controls="accordion-open-body-7"
    >
      <span class="flex w-full items-center max-md:justify-center"
        >How are payments made?</span
      >
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h4>
  <div
    id="accordion-open-body-7"
    class="hidden"
    aria-labelledby="accordion-open-heading-7"
  >
    <div
      class="p-5 border border-t-0 border-gray-200 dark:border-gray-700 bg-white"
    >
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        Payments are due at the time of service and can be made securely via
        check or credit card through Ivy Pay (HIPAA-secure).
      </p>
    </div>
  </div>
  <!-- closing tag -->
</div>

<style>
  * {
    /* border: 1px solid red; */
  }
</style>
