<footer>
  <section class="max-container py-8">
    <div class="flex justify-between items-center">
      <div class="flex max-sm:w-full items-center justify-between w-2/5">
        <a href="/SunbirdSpeechTherapy">
          <h4 class="p-2">Logo</h4>
        </a>

        <!-- Navlinks -->

        <div
          class="flex items-start justify-center gap-12 text-bone max-lg:flex-col max-xl:gap-4 max-xl:px-8 max-lg:py-8"
        >
          <a
            class="group transition-all duration-300 ease-in-out hover:-translate-y-1 text-[--secondary-text]"
            href="/services"
          >
            <h6>Services</h6>
          </a>
          <a
            class="group transition-all duration-300 ease-in-out hover:-translate-y-1 text-[--secondary-text]"
            href="/Sunbird/about"
          >
            <h6>About</h6>
          </a>
          <a
            class="group transition-all duration-300 ease-in-out hover:-translate-y-1 text-[--secondary-text]"
            href="/Sunbird/testimonials"
          >
            <h6>Testimonials</h6>
          </a>
          <a
            class="group transition-all duration-300 ease-in-out hover:-translate-y-1 text-[--secondary-text]"
            href="/Sunbird/faq"
          >
            <h6>FAQ</h6>
          </a>
        </div>
      </div>

      <!-- Social Links -->

      <div class="flex max-lg:py-4 gap-4">
        <a href="tel:123-456-7890">
          <span class="material-symbols-outlined"> call</span>
        </a>
        <a href="mailto: hello@rana.com">
          <span class="material-symbols-outlined"> mail</span>
        </a>
        <a href="instagram://user?username={USERNAME}">
          <span class="fa fa-instagram" style="font-size:22px"></span>
        </a>
        <div>
          <h6>linkedin</h6>
        </div>
        <a href="facebook://user?username={USERNAME}">
          <span class="fa fa-facebook-official" style="font-size:22px"></span>
        </a>
      </div>
    </div>
  </section>

  <!-- Copyright -->
  <!-- <div>
        <h6 class="text-center max-xl:mt-4">
            ©Copyright. All rights reserved. SunbirdSpeechTherapy2024
        </h6>
    </div> -->
</footer>

<style>
  * {
    /* border: 1px solid red; */
  }
</style>
