<section>
  <div class="max-container">
    <div class="bg-[--tertiary-text]">
      <h2 class="question-title">Test</h2>
      <p class="()">Test</p>
    </div>
  </div>
  <div class="expand-btn-wrapper">
    <div class="expand-card-btn">
      <span></span>
      <span class={"active" ? "active-line" : "rotating-line"}></span>
    </div>
  </div>
</section>
