<div class="max-container py-16 max-md:px-6">
    <div class="px-12 py-8 border-quote max-md:px-8">
      <p class="py-4 font-semibold text-[--secondary-text] text-center max-md:text-base">
        “If parents everywhere understood that a word spoken to a young child
        is not simply a word but a building block for that child`s brain,
        nurturing a stable, empathetic, intelligent adult, and had the support
        to make it happen, what a different world this would be.”
      </p>
      <p class="py-4 text-center font-medium text-[--secondary-text] max-md:text-base">
        <span class="font-bold">- Dana Suskind,</span><span class="italic">
          Thirty Million Words: Building a Child`s Brain,</span
        ><br />(2015)
      </p>
    </div>
  </div>