<div
  id="indicators-carousel"
  class="relative w-full lg:h-56 h-56"
  data-carousel="static"
  data-bs-touch="true"
>
  <div class="slider-container">
    <!-- Item 1 -->
    <div class="slide">
      <img src="" />
      <h6 class="text-center rounded-lg">
        “Our son was diagnosed with bilateral moderate sensorineural
        hearing loss as a newborn. We were in the middle of a pandemic and
        feeling overwhelmed about raising a baby in quarantine, let alone
        all the services our new baby would require.” <br>~DS</br>
      </h6>
    </div>

    <!-- Item 2 -->
    <div class="slide">
      <img src="" />
      <h6 class="">
        “Rana is a creative and caring speech therapist. She worked for two
        years with my toddler aged daughter creating activities that engaged my
        child to help her develop her speech pronunciation...
        <br />~KT
      </h6>
    </div>

    <!-- Item 3 -->
    <div class="slide">
      <img src="" />
      <h6 class="">
        “Rana is a creative and caring speech therapist. She worked for two
        years with my toddler aged daughter creating activities that engaged my
        child to help her develop her speech pronunciation...
        <br />~KT
      </h6>
    </div>
  </div>

  <!-- Slider indicators -->
  <div
    class="absolute flex -translate-x-1/2 translate-y-14 space-x-0 rtl:space-x-reverse bottom-5 left-1/2 bg-[--secondary-accent]"
  >
    <button
      type="button"
      class="w-14 h-2 max-md:w-8"
      aria-current="true"
      aria-label="Slide 1"
      data-carousel-slide-to="0"></button>
    <button
      type="button"
      class="w-14 h-2 max-md:w-8"
      aria-current="false"
      aria-label="Slide 2"
      data-carousel-slide-to="1"></button>
    <button
      type="button"
      class="w-14 h-2 max-md:w-8"
      aria-current="false"
      aria-label="Slide 3"
      data-carousel-slide-to="2"></button>
    <button
      type="button"
      class="w-14 h-2 max-md:w-8"
      aria-current="false"
      aria-label="Slide 4"
      data-carousel-slide-to="3"></button>
  </div>
</div>

<script>
  import { Carousel } from "flowbite";
  import type {
    CarouselItem,
    CarouselOptions,
    CarouselInterface,
  } from "flowbite";
  import type { InstanceOptions } from "flowbite";

  const carouselElement = document.getElementById("carousel-example");

  const items: CarouselItem[] = [
    {
      position: 0,
      el: document.getElementById("carousel-item-1") as HTMLElement,
    },
    {
      position: 1,
      el: document.getElementById("carousel-item-2") as HTMLElement,
    },
    {
      position: 2,
      el: document.getElementById("carousel-item-3") as HTMLElement,
    },
    {
      position: 3,
      el: document.getElementById("carousel-item-4") as HTMLElement,
    },
  ];

  // object options with default values
  const options: CarouselOptions = {
    defaultPosition: 1,
    interval: 3000,

    indicators: {
      activeClasses: "bg-white dark:bg-gray-800",
      inactiveClasses:
        "bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800",
      items: [
        {
          position: 0,
          el: document.getElementById("carousel-indicator-1") as HTMLElement,
        },
        {
          position: 1,
          el: document.getElementById("carousel-indicator-2") as HTMLElement,
        },
        {
          position: 2,
          el: document.getElementById("carousel-indicator-3") as HTMLElement,
        },
        {
          position: 3,
          el: document.getElementById("carousel-indicator-4") as HTMLElement,
        },
      ],
    },

    // callback functions
    onNext: () => {
      console.log("next slider item is shown");
    },
    onPrev: () => {
      console.log("previous slider item is shown");
    },
    onChange: () => {
      console.log("new slider item has been shown");
    },
  };

  // instance options object
  const instanceOptions: InstanceOptions = {
    id: "carousel-example",
    override: true,
  };

  const carousel: CarouselInterface = new Carousel(
    carouselElement,
    items,
    options,
    instanceOptions,
  );

  carousel.cycle();

  // set event listeners for prev and next buttons
  const $prevButton = document.getElementById(
    "data-carousel-prev",
  ) as HTMLElement;
  const $nextButton = document.getElementById(
    "data-carousel-next",
  ) as HTMLElement;

  $prevButton.addEventListener("click", () => {
    carousel.prev();
  });

  $nextButton.addEventListener("click", () => {
    carousel.next();
  });
</script>

<script src="/src/js/slider.js"></script>

<style>
  * {
    /* border: 1px solid red; */
  }

  .slider-container {
    max-height: 100%;
    display: inline-flex;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    cursor: grab;
  }

  .slide {
    background-color: var(secondary);
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    user-select: none;
  }

  .slide img {
    max-width: 100%;
    max-height: 60%;
    transition: transform 0.3s ease-in-out;
  }

  .slide h6 {
    padding: 1rem;
    background-color: white;
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .slide h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .slide h4 {
    font-size: 1.3rem;
  }

  .btn {
    background-color: #444;
    color: #fff;
    text-decoration: none;
    padding: 1rem 1.5rem;
  }

  .grabbing {
    cursor: grabbing;
  }

  .grabbing .slide img {
    transform: scale(0.9);
  }

  .grabbing .slide h6 {
    transform: scale(0.9);
  }
</style>
