
  <div class="slider-container flex gap-6 mx-6 max-sm:mx-3">
    <!-- Item 1 -->
    <div class="slide">
      <h6 class="text-center rounded-lg p-4 ml-4">
        “Our son was diagnosed with bilateral moderate sensorineural
        hearing loss as a newborn. We were in the middle of a pandemic and
        feeling overwhelmed about raising a baby in quarantine, let alone
        all the services our new baby would require.” <br>~DS</br>
      </h6>
    </div>

    <!-- Item 2 -->
    <div class="slide ml-6">
      <h6 class="text-center rounded-lg ">
        “Rana is a creative and caring speech therapist. She worked for
        two years with my toddler aged daughter creating activities that
        engaged my child to help her develop her speech pronunciation...
         <br>~KT</br>
      </h6>
    </div>

    <!-- Item 3 -->
    <div class="slide mx-4">
      <h6 class="text-center rounded-lg">
        "My daughter began working with Rana at 6 months old after being
        diagnosed with unilateral sensorineural hearing loss. Rana's calm
        and kind demeanor immediately put my daughter at ease. <br>~MH</br>
      </h6>
    </div>
  </div>

<script src="/src/js/slider.js"></script>

<script src="/src/css/slider.css"></script>
