---
import Navbar from "../components/Navbar.astro";
import "flowbite";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
		<script
			is:inline
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
		></script>
		<link
			href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body>
    <Navbar />
    <main>
      <slot />
    </main>
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
  @tailwind utilities;

	:root {
		--primary: #4694a1;
		--secondary: #deecee;
		--tertiary: #fbfbfb;
		--accent-primary: #efa044;
		--accent-secondary: #3f3a64;
		--accent-tertiary: #a8d6e5;
		--primary-text: #3c545a;
		--secondary-text: #4a556c;
		--tertiary-text: #a5a5a5;
    --white: #FFFFFF;
    --black: #28373A;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
		padding: 0;
	}

	body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100%;
  }

  html {
	font-family: "Kumbh Sans", sans-serif;
    background: #fff;
    background-size: 224px;
    height: 100%;
  }

  h1 {
    font-size: 72px;
    font-weight: 800;
    line-height: 80px;
  }
  h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
  }
  h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 46px;
  }
  h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
  }
  h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    overflow-wrap: break-word;
  }

  @layer components {
    .max-container {
      max-width: 1192px;
      margin: 0 auto;
    }
  }

  @layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }
}
</style>
